{% for ctg in all_ctgs %}
	.nav-menu li.cat-{{ctg.name}} a:hover, .nav-menu li.cat-{{ctg.name}} a:focus {
		color: {{ctg.color}};
	}
	.nav-menu li.cat-{{ctg.name}} a:after {
		background-color: {{ctg.color}};
	}
	.post-meta .post-category.cat-{{ctg.name}} {
		background-color: {{ctg.color}};
	}
	.category-widget ul li > a.cat-{{ctg.name}} > span {
		background-color: {{ctg.color}};
	}
	.category-widget ul li > a.cat-{{ctg.name}}:hover, .category-widget ul li > a.cat-{{ctg.name}}:focus {
		color: {{ctg.color}};
	}
{% endfor %}